In [1]:
# read in feed file and calculate the intervals (sunf) to next feed

In [2]:
import pandas as pd

In [3]:
feedfilename = "feed_list.csv"

In [10]:
df = pd.read_csv(feedfilename, header=None, names=['ts'] )

In [11]:
df.head()

                    ts
0  2021-08-01 08:10:03
1  2021-08-01 08:25:49
2  2021-08-01 08:32:12
3  2021-08-01 08:35:24
4  2021-08-01 08:45:27

In [21]:
tdf = pd.DataFrame(pd.to_datetime(df['ts']))

In [22]:
tdf.head()

                   ts
0 2021-08-01 08:10:03
1 2021-08-01 08:25:49
2 2021-08-01 08:32:12
3 2021-08-01 08:35:24
4 2021-08-01 08:45:27

In [24]:
tdf['tunf'] = tdf['ts'].diff()

In [25]:
tdf.head()

                   ts            tunf
0 2021-08-01 08:10:03             NaT
1 2021-08-01 08:25:49 0 days 00:15:46
2 2021-08-01 08:32:12 0 days 00:06:23
3 2021-08-01 08:35:24 0 days 00:03:12
4 2021-08-01 08:45:27 0 days 00:10:03

In [27]:
tdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390 entries, 0 to 389
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ts      390 non-null    datetime64[ns]
 1   tunf    389 non-null    timedelta64[ns]
dtypes: datetime64[ns](1), timedelta64[ns](1)
memory usage: 6.2 KB

In [34]:
tdf['sunf'] = tdf.apply(lambda row: row.tunf.total_seconds(), axis=1)

In [35]:
tdf.head()

                   ts            tunf   sunf
0 2021-08-01 08:10:03             NaT    NaN
1 2021-08-01 08:25:49 0 days 00:15:46  946.0
2 2021-08-01 08:32:12 0 days 00:06:23  383.0
3 2021-08-01 08:35:24 0 days 00:03:12  192.0
4 2021-08-01 08:45:27 0 days 00:10:03  603.0

In [37]:
tdf.to_csv("feedlist_interval.csv", columns=['ts','sunf'], header=True)